<h1>I thiink in works {{request.user.username}}</h1>
<h1>{{ hello }}</h1>
{% if dependents %} You have some dependants {% else %} you have no dependants
{% endif %} <br />
{% if contributions %} You have some contributions {% else %} you have no
contributions {% endif %}

<script>
    function getdata() {
        fetch("{% url 'chart_data' %}")
            .then((response) => response.json()) // Parse the response as JSON
            .then((data) => {
                console.log(data); // Print the data to the console
            })
            .catch((error) => console.error("Error fetching data:", error)); // Handle any errors
    }
</script>
