{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Mab-Uwiano Welfare Group</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <!-- Favicons -->
        <link href="{% static 'assets/img/logorm.png' %}" rel="icon" />
        <link
            href="{% static 'assets/img/apple-touch-icon.png' %}"
            rel="apple-touch-icon"
        />

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com" rel="preconnect" />
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <head>
            <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
            />
        </head>
        <!-- Vendor CSS Files -->
        <link
            href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
            rel="stylesheet"
        />
        <link
            href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
            rel="stylesheet"
        />
        <link
            href="{% static 'assets/vendor/aos/aos.css' %}"
            rel="stylesheet"
        />

        <!-- Main CSS File -->
        <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
    </head>

    <body class="index-page">
        <header
            id="header"
            class="header d-flex align-items-center sticky-top bg-white"
        >
            <div
                class="container-fluid container-xl position-relative d-flex align-items-center bg-white"
            >
                <a href="/" class="logo d-flex align-items-center me-auto">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <img
                        src="{% static 'assets/img/logo.jpg' %}"
                        alt=""
                        height="200"
                        width="50"
                    />
                    <h1 class="sitename">Mab-Uwiano</h1>
                </a>
                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li>
                            <a href="/" class="active">Home<br /></a>
                        </li>
                        <li><a href="/about">About</a></li>
                        <li><a href="#">Constitution & FAQ</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="/acc/logout">Logout</a></li>
                        {% endif %}
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
                {% if request.user.is_authenticated %}
                <a class="btn-getstarted" href="/acc">Account</a>
                {% else %}
                <a class="btn-getstarted" href="/acc/register">Join Us</a>
                {% endif %}
            </div>
        </header>
        <main class="main">{% block content %} {% endblock content %}</main>

        <footer id="footer" class="footer">
            <div class="container">
                <div class="copyright text-center">
                    <p>
                        &copy; <span>Copyright 2024</span>
                        <strong class="px-1">Mab-Uwiano Welfare &trade;</strong>
                        <span>All Rights Reserved</span>
                    </p>
                </div>
                <div class="social-links d-flex justify-content-center">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                </div>
                <div class="credits">
                    Designed by
                    <a href="https://github.com.com/quiesscent">Necxlabs Inc</a>
                </div>
            </div>
        </footer>
        <!-- Scroll Top -->
        <a
            href="#"
            id="scroll-top"
            class="scroll-top d-flex align-items-center justify-content-center"
            ><i class="bi bi-arrow-up-short"></i
        ></a>

        <!-- Preloader -->
        <div id="preloader"></div>

        <!-- Vendor JS Files -->
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
        <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <!-- Main JS File -->
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>
